# Linked folders
zsh/zplug
vim/plugged
vim/sessions
vim/spell
config/nvim/plugged
tmux/plugins

# Custom configurations
zsh/custom.zsh

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
